snippet html
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>$1</title>
	</head>
	<body>$2
		<script>$3</script>
	</body>
</html>
endsnippet

snippet section
<section data-markdown>
	<script type="text/template">
		$1
	</script>
</section>
endsnippet

snippet <ul>
<ul>
	<li>$1</li>
</ul>
endsnippet
