snippet describe "mocha suite" m
describe('$1', () => {

	it('$2', () => {
		$3
	})

})
endsnippet

snippet it "mocha test" m
it('$1', () => {
	$2
})
endsnippet

snippet pure "PureRenderMixin for es6 classes"
shouldComponentUpdate () {
	return React.addons.PureRenderMixin.shouldComponentUpdate.apply(this, arguments)
}
endsnippet


snippet c "redux constant"
export const $1 = '$1'$0
endsnippet
