snippet py
#!/usr/bin/env python
# -*- coding: utf-8 -*-
endsnippet

snippet if
if __name__ == '__main__':
endsnippet

snippet skip
@unittest.skip('BLOCK_COMMIT: Remove before committing')
endsnippet
