snippet it
it('$1', () => {
	$2
});
endsnippet


snippet beforeEach
beforeEach(() => {
	$1
});
endsnippet


snippet fit
fit('$1', () => {
	$2
});
endsnippet


snippet itf
it('$1', fakeAsync(() => {
	$2
}));
endsnippet


snippet fitf
fit('$1', fakeAsync(() => {
	$2
}));
endsnippet


snippet describe
describe('$1', () => {

	it('$2', () => {
		$3
	});

});
endsnippet


snippet lint
// tslint:disable-line
endsnippet
