snippet v
version: "2"

services:
	$1:
		image: $2
		ports: $0
endsnippet


snippet eslint
extends:
	- eslint:recommended
	- plugin:react/recommended

parser: babel-eslint

env:
	browser: true
	es6: true

rules:
	react/prop-types: 0
	no-console: 0
endsnippet


snippet version
version: '3'
services:
	server:
		image: nginx
		container_name: server
		ports:
			- '80:80'
endsnippet
