[submodule "python-mode"]
	path = python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
